{% include 'main.html' %}
{% load socialaccount %}

    <main class="auth layout">
      <div class="container">
        <div class="layout__box">
          <div class="layout__boxHeader">
            <div class="layout__boxTitle">
              <h3>Login</h3>
            </div>
          </div>
          {% if messages %}
          <ul class="auth__tagline">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          <div class="layout__body">
            <h2 class="auth__tagline">Find your study partner</h2>

            <div class="auth__action">
              <a href="{% provider_login_url 'google' %}" class="btn btn--main">Sign up with google</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
